# TP3 - Views, Updates and Design

The objectives for this TP are:

1. Create and use SQL Views
2. Update database content
3. Design the database schema for a Social Network

___

For the first 2 parts we will use the **`wine.db`** database and the Tables created in TP2.

A reminder of the wine database schema:

<center>**Master1**</center>

|*Attribute*|         *Description*          |
| -------   |--------------------------------|
| NV        | Wine number                    |
| CRU       | Vineyard or group of vineyards |
| DEGRE     | Alcohol content                |
| MILL      | Vintage year                   |
| QTE       | Number of bottles harvested    |
| NP        | Producer number                |
| NOM       | Producer's last name           |
| PRENOM    | Producer's first name          |
| REGION    | Production region              |

<center>**Master2**</center>

|*Attribute*|                         *Description*                  |
| -------   |--------------------------------------------------------|
| NV        | Wine number                                            |
| CRU       | Vineyard or group of vineyards                         |
| DEGRE     | Alcohol content                                        |
| MILL      | Vintage year                                           |
| DATES     | Buying date                                            |
| LIEU      | Place where the wine was sold                          |
| QTE       | Number of bottles bought                               |
| NB        | Client (buveur) number                                 |
| NOM       | Client's last name                                     |
| PRENOM    | Client's first name                                    |
| TYPE      | Type of client by volume of purchases                  |
| REGION    | Administrative Region (different to production region) |

In [1]:
import sqlite3

In [2]:
def printSchema(connection):
    ### Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [4]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)

Database schema:
Buveur:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
Localisation:
  0: LIEU(TEXT)
  1: REGION(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(DATE)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
Producteur:
  0: NOM(TEXT)
  1: PRENOM(TEXT)
  2: REGION(TEXT)
  3: NP(NUM)
Production:
  0: NP(NUM)
  1: NV(NUM)
  2: QTE(NUM)
RBB:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: TYPE(TEXT)
S:
  0: NB(NUM)
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: SOMME()
Vente:
  0: NV(NUM)
  1: NB(NUM)
  2: DATES(NUM)
  3: LIEU(TEXT)
  4: QTE(NUM)
Vin:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
Wine:
  0: CRU(TEXT)
  1: DEGRE(NUM)
  2: MILL(NUM)
  3: NV(NUM)
dummy:
  0: DEGRE(NUM)

Again, we will use **`%%sql`** magic for our queries

In [5]:
%load_ext sql
%sql sqlite:///wine.db

'Connected: @wine.db'

Recreate the Normalized Tables from **Master1** and **Master2** as you did in the TP2

In [6]:
%%sql 
DROP TABLE IF EXISTS Vin;
CREATE TABLE Vin AS 
SELECT DISTINCT CRU,DEGRE,MILL,NV
FROM Master1 
WHERE NV IS NOT NULL;

DROP TABLE IF EXISTS Producteur;
CREATE TABLE Producteur AS 
SELECT DISTINCT NOM,PRENOM,REGION,NP
FROM Master1 
WHERE NP IS NOT NULL;

DROP TABLE IF EXISTS Production;
CREATE TABLE Production AS 
SELECT DISTINCT NP,NV,QTE
FROM Master1 
WHERE NP IS NOT NULL;

DROP TABLE IF EXISTS Buveur;
CREATE TABLE Buveur AS 
SELECT DISTINCT NB,NOM,PRENOM,TYPE
FROM Master2 
WHERE NB IS NOT NULL;

DROP TABLE IF EXISTS Vente;
CREATE TABLE Vente AS 
SELECT DISTINCT NV,NB,DATES,LIEU,QTE
FROM Master2 
WHERE NV IS NOT NULL AND NB IS NOT NULL;

DROP TABLE IF EXISTS Vin;
CREATE TABLE Vin AS 
SELECT DISTINCT NV,CRU,DEGRE,MILL
FROM Master2
WHERE (NV IS NOT NULL) ;

DROP TABLE IF EXISTS Localisation;
CREATE TABLE Localisation AS 
SELECT DISTINCT LIEU,REGION
FROM Master2 
WHERE LIEU IS NOT NULL;

 * sqlite:///wine.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[(1, 2, '1977-11-02', 'BORDEAUX', 33),
 (1, 44, '2015-10-16', 'PARIS', 1),
 (1, 45, '1983-12-31', 'RENNES', 1),
 (2, 48, '1983-12-25', 'LYON', 2),
 (3, 7, '1978-11-01', 'NICE', 6),
 (3, 49, '1987-12-24', 'MERCUREY', 5),
 (4, 8, '1982-11-05', 'TOULOUSE', 12),
 (4, 44, '2015-10-16', 'PARIS', 6),
 (4, 50, '1981-06-29', 'SENS', 4),
 (5, 2, '1984-11-04', 'MERCUREY', 50),
 (5, 52, '1983-06-29', 'LILLE', 5),
 (6, 3, '1978-01-21', 'NANCY', 36),
 (7, 4, '1987-09-19', 'PARIS', 24),
 (7, 58, '1987-04-28', 'CANNES', 7),
 (8, 1, '1982-09-15', 'PARIS', 78),
 (8, 9, '1979-11-01', 'LILLE', 10),
 (8, 60, '1980-05-12', 'TOULON', 8),
 (9, 5, '1982-03-26', 'LYON', 20),
 (9, 10, '1979-05-12', 'LILLE', 1),
 (9, 61, '1907-04-21', 'TOULON', 9),
 (10, 2, '1982-10-30', 'CHALON SUR SAONE', 500),
 (10, 3, '1977-12-31', 'BORDEAUX', 10),
 (10, 5, '1983-06-06', 'LYON', 10),
 (12, 6, '1982-11-05', 'TOULOUSE', 36),
 (16, 44, '2015-10-16', 'PARIS', 2),
 (20, 44, '2015-10-16', 'PARIS', 3),
 (20, 61, '1978-06-12', 'NICE', 20),
 (21, 62, '1987-04-05', 'CANNES', 21),
 (22, 75, '1985-05-23', 'ROCQUENCOURT', 22),
 (22, 80, '1987-12-24', 'PARLY', 22),
 (23, 82, '1988-03-20', 'PARLY', 23),
 (24, 100, '1986-06-12', 'LE CHESNAY', 14),
 (26, 44, '2015-10-16', 'PARIS', 4),
 (28, 44, '2015-10-16', 'PARIS', 5),
 (31, 26, '1984-12-31', 'LYON', 6),
 (31, 28, '1978-12-25', 'LYON', 100),
 (32, 22, '1983-02-14', 'PARIS', 3),
 (32, 24, '1980-12-31', 'PARIS', 7),
 (35, 30, '1981-12-25', 'LYON', 80),
 (38, 12, '1981-08-06', 'CAEN', 5),
 (38, 14, '1981-05-12', 'CAEN', 2),
 (40, 15, '1982-03-25', 'NICE', 30),
 (40, 17, '1982-04-02', 'DIJON', 25),
 (40, 19, '1980-12-31', 'DIJON', 12),
 (40, 33, '1982-04-01', 'TOULOUSE', 1),
 (40, 92, '1986-08-10', 'LE CHESNAY', 4),
 (41, 31, '1988-04-01', 'TOULOUSE', 2),
 (41, 94, '1985-12-29', 'SENS', 3),
 (42, 94, '1985-07-27', 'SENS', 3),
 (42, 100, '1983-03-10', 'PARIS', 4),
 (43, 44, '2015-10-16', 'PARIS', 7),
 (50, 38, '1988-02-23', 'PARIS', 1),
 (53, 12, '1983-06-06', 'ROCQUENCOURT', 10),
 (54, 8, '1983-05-05', 'ROCQUENCOURT', 120),
 (55, 9, '1983-05-05', 'ROCQUENCOURT', 130),
 (56, 5, '1983-05-05', 'ROCQUENCOURT', 80),
 (62, 96, '1980-12-21', 'PARIS', 5),
 (63, 3, '1982-02-02', 'PARIS', 12),
 (64, 97, '1983-12-31', 'PARIS', 1),
 (74, 44, '2015-10-16', 'PARIS', 8),
 (78, 44, '2015-10-16', 'PARIS', 9),
 (79, 44, '2015-10-16', 'PARIS', 10),
 (80, 44, '2015-10-16', 'PARIS', 11),
 (81, 44, '2015-10-16', 'PARIS', 12),
 (82, 44, '2015-10-16', 'PARIS', 13),
 (83, 44, '2015-10-16', 'PARIS', 14),
 (84, 44, '2015-10-16', 'PARIS', 15),
 (85, 44, '2015-10-16', 'PARIS', 16),
 (86, 44, '2015-10-16', 'PARIS', 17),
 (87, 44, '2015-10-16', 'PARIS', 18),
 (100, 5, '1983-02-21', 'CAEN', 3),
 (100, 40, '1982-11-05', 'NANCY', 11),
 (100, 41, '1982-11-04', 'CANNES', 10)]

___
# PART I: CREATE AND USE VIEWS

A view is a virtual table based on the result-set of an SQL statement. Views are stored in the database with an associated name.

Views are created following the syntax:

```mysql
CREATE VIEW view_name AS
SELECT column1, column2.....
FROM table_name
WHERE [condition];
```

An useful command:

```mysql
DROP VIEW IF EXISTS view_name;
```


__Warning:__ Use `DROP` with caution (only drop something if you are sure)

__Note:__ You will find some cells marked as "Test" that will help you check your work. Do NOT modify them.

#### Exercise 1.1

Create a view "**bons_buveurs**" with the clients (buveurs) of type 'gros' or 'moyen'.

In [9]:
%%sql
DROP VIEW IF EXISTS bon_buveurs;
CREATE VIEW bon_buveurs AS
SELECT NB,NOM,PRENOM,TYPE
FROM Buveur
WHERE (TYPE='gros' OR TYPE='moyen');
SELECT*FROM bon_buveurs;

 * sqlite:///wine.db
Done.
Done.
Done.

[(13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (55, 'Michelet', 'Jules', 'gros'),
 (57, 'Marx', 'Karl', 'gros'),
 (64, 'Platon', None, 'gros'),
 (66, 'Perec', 'Georges', 'gros'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran多多s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros'),
 (2, 'Artaud', 'Antonin', 'moyen'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (50, 'Lautreamont', None, 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (10, 'Andersen', 'Yann', 'gros'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (31, 'Dante', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen')]

In [15]:
# Test
%sql SELECT * FROM bon_buveurs ORDER BY nb;

 * sqlite:///wine.db
Done.

[(2, 'Artaud', 'Antonin', 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (10, 'Andersen', 'Yann', 'gros'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (31, 'Dante', None, 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (50, 'Lautreamont', None, 'moyen'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (55, 'Michelet', 'Jules', 'gros'),
 (57, 'Marx', 'Karl', 'gros'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (64, 'Platon', None, 'gros'),
 (66, 'Perec', 'Georges', 'gros'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran多多s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

#### Exercise 1.2

Create the view "**buveurs_asec**" with clients (buveurs) who have not bought any wine.

In [16]:
%%sql
DROP VIEW IF EXISTS buveurs_asec;
CREATE VIEW buveurs_asec AS
SELECT NB,NOM,PRENOM
FROM MASTER2
WHERE NB NOT IN (SELECT NB FROM Vente);

 * sqlite:///wine.db
Done.
Done.

[]

In [38]:
# Test
%sql SELECT * FROM buveurs_asec ORDER BY nb;

 * sqlite:///wine.db
Done.

[(11, 'Breton', 'Andre'),
 (13, 'Barthes', 'Roland'),
 (16, 'Balzac', 'Honore de'),
 (18, 'Celine', 'Louis Ferdinand'),
 (20, 'Chateaubriand', 'Francois-Rene de'),
 (21, 'Corbiere', 'Tristan'),
 (23, 'Corneille', 'Pierre'),
 (25, 'Char', 'Rene'),
 (27, 'Dumas', 'Alexandre'),
 (29, 'Fournier', 'Alain'),
 (32, 'Eluard', 'Paul'),
 (34, 'Mauriac', 'Francois'),
 (35, 'Fromentin', 'Eugene'),
 (36, 'Maurois', 'Andre'),
 (37, 'Freud', 'Sigmund'),
 (39, 'Montesquieu', None),
 (42, 'Goethe', 'Johann Wolfgang von'),
 (43, 'Musset', 'Alfred de'),
 (46, 'Hugo', 'Victor'),
 (47, 'Gary', 'Romain'),
 (51, 'Lafargue', 'Paul'),
 (53, 'Lamartine', 'Alphonse de'),
 (54, 'Aurele', 'Marc'),
 (55, 'Michelet', 'Jules'),
 (56, 'Nerval', 'Gerard de'),
 (57, 'Marx', 'Karl'),
 (59, 'Nietzsche', 'Friedrich'),
 (63, 'Maupassant', 'Guy de'),
 (64, 'Platon', None),
 (65, 'Pascal', 'Blaise'),
 (66, 'Perec', 'Georges'),
 (67, 'Nin', 'Anais'),
 (68, 'Prevert', 'Jacques'),
 (69, 'Queneau', 'Raymond'),
 (70, 'Paulhan', 'Jean'),
 (71, 'Radiguet', 'Raymond'),
 (72, 'Rabelais', 'Francois'),
 (73, 'Poe', 'Allan Edgard'),
 (74, 'Rimbaud', 'Arthur'),
 (76, 'Racine', 'Jean'),
 (77, 'Rousseau', 'Jean-Jacques'),
 (78, 'Sandier', 'Jules'),
 (79, 'Sade', 'Donatien Alphonse Fran多多s de'),
 (81, 'Sartre', 'Jean-Paul'),
 (83, 'Sophocle', None),
 (84, 'Sue', 'Eugene'),
 (85, 'Segalen', 'Victor'),
 (86, 'Saint Exupery', 'Antoine de'),
 (87, 'Segur', 'Comtesse de'),
 (88, 'Shakespeare', 'William'),
 (89, 'Stendhal', None),
 (90, 'Vian', 'Boris'),
 (91, 'Verlaine', 'Paul'),
 (93, 'Virgile', None),
 (95, 'Zorn', 'Fritz'),
 (98, 'Maturin', 'Robert'),
 (99, 'Cesar', 'Jules')]

#### Exercise 1.3

Create the view "**buveurs_achats**" complementary to the previous one.

In [17]:
%%sql 
DROP VIEW IF EXISTS buveurs_achats;
CREATE VIEW buveurs_achats AS
SELECT DISTINCT Buveur.NB,NOM,PRENOM FROM (Vente JOIN Buveur on Vente.NB=Buveur.NB)

 * sqlite:///wine.db
Done.
Done.

[]

In [18]:
# Test
%sql SELECT * FROM buveurs_achats ORDER BY nb;

 * sqlite:///wine.db
Done.

[(1, 'Aristote', None),
 (2, 'Artaud', 'Antonin'),
 (3, 'Aron', 'Raymond'),
 (4, 'Apollinaire', 'Guillaume'),
 (5, 'Audiberti', 'Jacques'),
 (6, 'Arrabal', 'Fernando'),
 (7, 'Anouilh', 'Jean'),
 (8, 'Aragon', 'Louis'),
 (9, 'Ajar', 'Emile'),
 (10, 'Andersen', 'Yann'),
 (12, 'Bataille', 'Georges'),
 (14, 'Bory', 'Jean Louis'),
 (15, 'Baudelaire', 'Charles'),
 (17, 'Camus', 'Albert'),
 (19, 'Ciceron', None),
 (22, 'Cocteau', 'Jean'),
 (24, 'Courrier', 'Paul Louis'),
 (26, 'Diderot', 'Denis'),
 (28, 'Dostoievsky', 'Fiodor'),
 (30, 'La Fontaine', 'Jean de'),
 (31, 'Dante', None),
 (33, 'Flaubert', 'Gustave'),
 (38, 'Montaigne', 'Michel de'),
 (40, 'Moliere', None),
 (41, 'Gauthier', 'Theophile'),
 (44, 'Gide', 'Andre'),
 (45, 'Giono', 'Jean'),
 (48, 'Hardy', 'Thomas'),
 (49, 'Kafka', 'Franz'),
 (50, 'Lautreamont', None),
 (52, 'Carroll', 'Lewis'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de'),
 (60, 'Ovide', None),
 (61, 'Mallarme', 'Stephane'),
 (62, 'Proust', 'Marcel'),
 (75, 'Ronsard', 'Pierre'),
 (80, 'Sand', 'Georges'),
 (82, 'Roussel', 'Rene'),
 (92, 'Verne', 'Jules'),
 (94, 'Zola', 'Emile'),
 (96, 'Wilde', 'Oscar'),
 (97, 'Vigny', 'Alfred de'),
 (100, 'Woolf', 'Virginia')]

#### Exercise 1.4

Create the view "**q83pl**" (LIEU, CRU, QTE_BUE) that provides by LIEU and CRU the total quantities bought in 1983 by all the clients (buveurs).

In [19]:
%%sql

DROP VIEW IF EXISTS q83pl;

CREATE VIEW q83pl AS
SELECT LIEU, CRU, SUM(QTE) AS QTE_BUE
FROM Vente JOIN Vin ON Vente.NV = Vin.NV
WHERE DATES LIKE "1983%"
GROUP BY LIEU, CRU;

 * sqlite:///wine.db
Done.
Done.

[]

In [20]:
# Test
%sql SELECT * FROM q83pl;

 * sqlite:///wine.db
Done.

[('CAEN', 'Seyssel', 3),
 ('LILLE', 'Pommard', 5),
 ('LYON', 'Beaujolais Villages', 10),
 ('LYON', 'Julienas', 2),
 ('PARIS', 'Beaujolais Primeur', 4),
 ('PARIS', 'Coteaux du Tricastin', 1),
 ('PARIS', 'Pouilly Vinzelles', 3),
 ('RENNES', 'Mercurey', 1),
 ('ROCQUENCOURT', 'Beaujolais Villages', 260),
 ('ROCQUENCOURT', 'Saint Amour', 80)]

#### Exercise 1.5

Can we define the same view with ascending order over the attribute "QTE"? Provide an explanation for your answer.


Oui c'est possible mais on peut directement le faire sur la table initiale en executant la ligne de code  ORDER BY QTE_BUE.

___
# PART II: UPDATE DATABASE CONTENT

The syntax for the `UPDATE` operation is:

```sql
UPDATE table_name
SET column1 = value1, column2 = value2...., columnN = valueN
WHERE [condition];
```

The syntax for the `INSERT` operation is:

```sql
INSERT INTO table_name [(column1, column2, column3,...columnN)]  
VALUES (value1, value2, value3,...valueN);
```

Database updates are commited automatically in Jupyter/Python. _Transactions_ are an option to control and reverse changes. Additionally we can just reload a backup of the database (NOT an option in deployed systems)

__Note:__ Different to other Database Management Systems, SQLite views are read-only and so you can not execute a `DELETE`, `INSERT` or `UPDATE` statement on a view.

#### Exercise 2.1

Create a table "**RBB**" with the same schema as "**bons_buveurs**" which contains the tuples selected from "**bons_buveurs**"

In [21]:
%%sql
DROP TABLE IF EXISTS RBB;
CREATE TABLE RBB AS
SELECT *FROM bon_buveurs

 * sqlite:///wine.db
Done.
Done.

[]

In [22]:
# Test
%sql SELECT * FROM RBB ORDER BY NB;

 * sqlite:///wine.db
Done.

[(2, 'Artaud', 'Antonin', 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (10, 'Andersen', 'Yann', 'gros'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (31, 'Dante', None, 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (50, 'Lautreamont', None, 'moyen'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (55, 'Michelet', 'Jules', 'gros'),
 (57, 'Marx', 'Karl', 'gros'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (64, 'Platon', None, 'gros'),
 (66, 'Perec', 'Georges', 'gros'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran多多s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

#### Exercise 2.2

Update the table you used to create "**bons_buveurs**": Change the "type" to 'gros' if the total of quantities bought is over 100.

Find the instances to update (schema may differ from the one in your table)

In [33]:
%%sql 
UPDATE Buveur
SET TYPE='gros'
WHERE NB IN (
SELECT Vente.NB
FROM Vente NATURAL JOIN Buveur
WHERE TYPE!='gros'
GROUP BY Vente.NB
HAVING (SUM(QTE) >100 ))

 * sqlite:///wine.db
4 rows affected.

[]

Update instances

#### Exercise 2.3

Compare the content of _table_ "**RBB**" and the _view_ "**bons_buveurs**" after the update. What differences do you see? Explain

Answer: la table RBB n'a pas 辿t辿 chang辿e tandisque la table bons_buveurs ,elle, a chang辿.
On en d辿duit donc que la view prend en compte les updates faite par la table avec laquelle elle a 辿t辿 cr辿e et non la sous table

In [37]:
%%sql 
SELECT*
FROM bon_buveurs

 * sqlite:///wine.db
Done.

[(13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (55, 'Michelet', 'Jules', 'gros'),
 (57, 'Marx', 'Karl', 'gros'),
 (64, 'Platon', None, 'gros'),
 (66, 'Perec', 'Georges', 'gros'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran多多s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros'),
 (2, 'Artaud', 'Antonin', 'gros'),
 (44, 'Gide', 'Andre', 'gros'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (50, 'Lautreamont', None, 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (9, 'Ajar', 'Emile', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (5, 'Audiberti', 'Jacques', 'gros'),
 (10, 'Andersen', 'Yann', 'gros'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (31, 'Dante', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen')]

In [36]:
%%sql 
SELECT*
FROM RBB;

 * sqlite:///wine.db
Done.

[(13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (55, 'Michelet', 'Jules', 'gros'),
 (57, 'Marx', 'Karl', 'gros'),
 (64, 'Platon', None, 'gros'),
 (66, 'Perec', 'Georges', 'gros'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (76, 'Racine', 'Jean', 'gros'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran多多s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros'),
 (2, 'Artaud', 'Antonin', 'moyen'),
 (48, 'Hardy', 'Thomas', 'moyen'),
 (7, 'Anouilh', 'Jean', 'moyen'),
 (8, 'Aragon', 'Louis', 'gros'),
 (50, 'Lautreamont', None, 'moyen'),
 (3, 'Aron', 'Raymond', 'gros'),
 (4, 'Apollinaire', 'Guillaume', 'moyen'),
 (58, 'Marivaux', 'Pierre Carlet de Chamblain de', 'gros'),
 (60, 'Ovide', None, 'gros'),
 (10, 'Andersen', 'Yann', 'gros'),
 (6, 'Arrabal', 'Fernando', 'gros'),
 (62, 'Proust', 'Marcel', 'moyen'),
 (75, 'Ronsard', 'Pierre', 'moyen'),
 (26, 'Diderot', 'Denis', 'moyen'),
 (28, 'Dostoievsky', 'Fiodor', 'gros'),
 (22, 'Cocteau', 'Jean', 'gros'),
 (24, 'Courrier', 'Paul Louis', 'moyen'),
 (12, 'Bataille', 'Georges', 'moyen'),
 (14, 'Bory', 'Jean Louis', 'gros'),
 (19, 'Ciceron', None, 'gros'),
 (33, 'Flaubert', 'Gustave', 'moyen'),
 (31, 'Dante', None, 'gros'),
 (94, 'Zola', 'Emile', 'moyen')]

#### Exercise 2.4

Create a table "**RBA**" with the same schema as "**buveurs_asec**" which contains the tuples selected from "**buveurs_asec**"

In [40]:
%%sql
DROP TABLE IF EXISTS RBA;
CREATE TABLE RBA AS
SELECT NB,NOM,PRENOM
FROM MASTER2
WHERE NB NOT IN (SELECT NB FROM Vente);

 * sqlite:///wine.db
Done.
Done.

[]

In [19]:
# Test
%sql SELECT * FROM RBA

Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (64, 'Platon', None, 'gros'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran多多s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (89, 'Stendhal', None, 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros')]

#### Exercise 2.5

Insert a tuple (101, 'your last name', 'your first name', 'your type of purchases(petit, moyen, or gros)') to "**RBA**".

In [43]:
%%sql
INSERT INTO RBA (NB, NOM, PRENOM)
VALUES (101,'Habis','Antoine');

 * sqlite:///wine.db
1 rows affected.

[]

In [21]:
# Test
%sql SELECT * FROM RBA

Done.

[(11, 'Breton', 'Andre', 'petit'),
 (13, 'Barthes', 'Roland', 'moyen'),
 (16, 'Balzac', 'Honore de', 'moyen'),
 (18, 'Celine', 'Louis Ferdinand', 'gros'),
 (20, 'Chateaubriand', 'Francois-Rene de', 'moyen'),
 (21, 'Corbiere', 'Tristan', 'petit'),
 (23, 'Corneille', 'Pierre', 'petit'),
 (25, 'Char', 'Rene', 'petit'),
 (27, 'Dumas', 'Alexandre', 'gros'),
 (29, 'Fournier', 'Alain', 'petit'),
 (32, 'Eluard', 'Paul', 'moyen'),
 (34, 'Mauriac', 'Francois', 'petit'),
 (35, 'Fromentin', 'Eugene', 'gros'),
 (36, 'Maurois', 'Andre', 'petit'),
 (37, 'Freud', 'Sigmund', 'petit'),
 (39, 'Montesquieu', None, 'gros'),
 (42, 'Goethe', 'Johann Wolfgang von', 'moyen'),
 (43, 'Musset', 'Alfred de', 'gros'),
 (46, 'Hugo', 'Victor', 'moyen'),
 (47, 'Gary', 'Romain', 'petit'),
 (51, 'Lafargue', 'Paul', 'petit'),
 (53, 'Lamartine', 'Alphonse de', 'gros'),
 (54, 'Aurele', 'Marc', 'petit'),
 (55, 'Michelet', 'Jules', 'gros'),
 (56, 'Nerval', 'Gerard de', 'petit'),
 (57, 'Marx', 'Karl', 'gros'),
 (59, 'Nietzsche', 'Friedrich', 'petit'),
 (63, 'Maupassant', 'Guy de', 'petit'),
 (64, 'Platon', None, 'gros'),
 (65, 'Pascal', 'Blaise', 'petit'),
 (66, 'Perec', 'Georges', 'gros'),
 (67, 'Nin', 'Anais', 'petit'),
 (68, 'Prevert', 'Jacques', 'gros'),
 (69, 'Queneau', 'Raymond', 'petit'),
 (70, 'Paulhan', 'Jean', 'gros'),
 (71, 'Radiguet', 'Raymond', 'petit'),
 (72, 'Rabelais', 'Francois', 'gros'),
 (73, 'Poe', 'Allan Edgard', 'moyen'),
 (74, 'Rimbaud', 'Arthur', 'petit'),
 (76, 'Racine', 'Jean', 'gros'),
 (77, 'Rousseau', 'Jean-Jacques', 'petit'),
 (78, 'Sandier', 'Jules', 'moyen'),
 (79, 'Sade', 'Donatien Alphonse Fran多多s de', 'gros'),
 (81, 'Sartre', 'Jean-Paul', 'gros'),
 (83, 'Sophocle', None, 'gros'),
 (84, 'Sue', 'Eugene', 'moyen'),
 (85, 'Segalen', 'Victor', 'petit'),
 (86, 'Saint Exupery', 'Antoine de', 'gros'),
 (87, 'Segur', 'Comtesse de', 'gros'),
 (88, 'Shakespeare', 'William', 'petit'),
 (89, 'Stendhal', None, 'petit'),
 (90, 'Vian', 'Boris', 'petit'),
 (91, 'Verlaine', 'Paul', 'gros'),
 (93, 'Virgile', None, 'gros'),
 (95, 'Zorn', 'Fritz', 'moyen'),
 (98, 'Maturin', 'Robert', 'gros'),
 (99, 'Cesar', 'Jules', 'gros'),
 (101, 'First_Name', 'Last_Name', 'gros')]

#### Exercise 2.6

Compare the content of _table_ "**RBA**" and the _view_ "**buveurs_asec**". What differences do you see? Explain

Answer:La table RBA prend en compte l'insertion de valeurs faite dans la table initiale tandis-que la view non.

In [44]:
%%sql
SELECT*FROM RBA

 * sqlite:///wine.db
Done.

[(11, 'Breton', 'Andre'),
 (13, 'Barthes', 'Roland'),
 (16, 'Balzac', 'Honore de'),
 (18, 'Celine', 'Louis Ferdinand'),
 (20, 'Chateaubriand', 'Francois-Rene de'),
 (21, 'Corbiere', 'Tristan'),
 (23, 'Corneille', 'Pierre'),
 (25, 'Char', 'Rene'),
 (27, 'Dumas', 'Alexandre'),
 (29, 'Fournier', 'Alain'),
 (32, 'Eluard', 'Paul'),
 (34, 'Mauriac', 'Francois'),
 (35, 'Fromentin', 'Eugene'),
 (36, 'Maurois', 'Andre'),
 (37, 'Freud', 'Sigmund'),
 (39, 'Montesquieu', None),
 (42, 'Goethe', 'Johann Wolfgang von'),
 (43, 'Musset', 'Alfred de'),
 (46, 'Hugo', 'Victor'),
 (47, 'Gary', 'Romain'),
 (51, 'Lafargue', 'Paul'),
 (53, 'Lamartine', 'Alphonse de'),
 (54, 'Aurele', 'Marc'),
 (55, 'Michelet', 'Jules'),
 (56, 'Nerval', 'Gerard de'),
 (57, 'Marx', 'Karl'),
 (59, 'Nietzsche', 'Friedrich'),
 (63, 'Maupassant', 'Guy de'),
 (64, 'Platon', None),
 (65, 'Pascal', 'Blaise'),
 (66, 'Perec', 'Georges'),
 (67, 'Nin', 'Anais'),
 (68, 'Prevert', 'Jacques'),
 (69, 'Queneau', 'Raymond'),
 (70, 'Paulhan', 'Jean'),
 (71, 'Radiguet', 'Raymond'),
 (72, 'Rabelais', 'Francois'),
 (73, 'Poe', 'Allan Edgard'),
 (74, 'Rimbaud', 'Arthur'),
 (76, 'Racine', 'Jean'),
 (77, 'Rousseau', 'Jean-Jacques'),
 (78, 'Sandier', 'Jules'),
 (79, 'Sade', 'Donatien Alphonse Fran多多s de'),
 (81, 'Sartre', 'Jean-Paul'),
 (83, 'Sophocle', None),
 (84, 'Sue', 'Eugene'),
 (85, 'Segalen', 'Victor'),
 (86, 'Saint Exupery', 'Antoine de'),
 (87, 'Segur', 'Comtesse de'),
 (88, 'Shakespeare', 'William'),
 (89, 'Stendhal', None),
 (90, 'Vian', 'Boris'),
 (91, 'Verlaine', 'Paul'),
 (93, 'Virgile', None),
 (95, 'Zorn', 'Fritz'),
 (98, 'Maturin', 'Robert'),
 (99, 'Cesar', 'Jules'),
 (101, 'Habis', 'Antoine')]

In [45]:
%%sql
SELECT* FROM buveurs_asec

 * sqlite:///wine.db
Done.

[(11, 'Breton', 'Andre'),
 (13, 'Barthes', 'Roland'),
 (16, 'Balzac', 'Honore de'),
 (18, 'Celine', 'Louis Ferdinand'),
 (20, 'Chateaubriand', 'Francois-Rene de'),
 (21, 'Corbiere', 'Tristan'),
 (23, 'Corneille', 'Pierre'),
 (25, 'Char', 'Rene'),
 (27, 'Dumas', 'Alexandre'),
 (29, 'Fournier', 'Alain'),
 (32, 'Eluard', 'Paul'),
 (34, 'Mauriac', 'Francois'),
 (35, 'Fromentin', 'Eugene'),
 (36, 'Maurois', 'Andre'),
 (37, 'Freud', 'Sigmund'),
 (39, 'Montesquieu', None),
 (42, 'Goethe', 'Johann Wolfgang von'),
 (43, 'Musset', 'Alfred de'),
 (46, 'Hugo', 'Victor'),
 (47, 'Gary', 'Romain'),
 (51, 'Lafargue', 'Paul'),
 (53, 'Lamartine', 'Alphonse de'),
 (54, 'Aurele', 'Marc'),
 (55, 'Michelet', 'Jules'),
 (56, 'Nerval', 'Gerard de'),
 (57, 'Marx', 'Karl'),
 (59, 'Nietzsche', 'Friedrich'),
 (63, 'Maupassant', 'Guy de'),
 (64, 'Platon', None),
 (65, 'Pascal', 'Blaise'),
 (66, 'Perec', 'Georges'),
 (67, 'Nin', 'Anais'),
 (68, 'Prevert', 'Jacques'),
 (69, 'Queneau', 'Raymond'),
 (70, 'Paulhan', 'Jean'),
 (71, 'Radiguet', 'Raymond'),
 (72, 'Rabelais', 'Francois'),
 (73, 'Poe', 'Allan Edgard'),
 (74, 'Rimbaud', 'Arthur'),
 (76, 'Racine', 'Jean'),
 (77, 'Rousseau', 'Jean-Jacques'),
 (78, 'Sandier', 'Jules'),
 (79, 'Sade', 'Donatien Alphonse Fran多多s de'),
 (81, 'Sartre', 'Jean-Paul'),
 (83, 'Sophocle', None),
 (84, 'Sue', 'Eugene'),
 (85, 'Segalen', 'Victor'),
 (86, 'Saint Exupery', 'Antoine de'),
 (87, 'Segur', 'Comtesse de'),
 (88, 'Shakespeare', 'William'),
 (89, 'Stendhal', None),
 (90, 'Vian', 'Boris'),
 (91, 'Verlaine', 'Paul'),
 (93, 'Virgile', None),
 (95, 'Zorn', 'Fritz'),
 (98, 'Maturin', 'Robert'),
 (99, 'Cesar', 'Jules')]

___
# PART III: Design the database schema for posts in a Social Network

In this section your task is to design the database schema for a social network app of a new startup:

The new social network will contain users, where each user will have a name, a nickname, an email, date of birth, and an address (Street, City, State, Country, Postal Code). Users can be friends of other users, and can publish posts. Each post can contain a text, date and attachment. Posts can be either original posts or replies so the app needs to handle both scenarios. When users log in, the app needs to display the posts of their friends.

**Note:** You can create diagrams of your proposal and insert them as images into this notebook.

#### Exercise 3.1

Write and explain the design of the relations of your database

Je proposerai de cr辿er une table User avec comme attributs:(name, nickname,email,adress_id, date of birth).
Je cr辿erai ensuite la table Adresses contenant (adress_id,street,city_id) puis la table CITIES contenant (city_id,state_id,city_name,postal_code) et enfin la table state contenant(state_id,state_name,country)
On peut cr辿er une table FRIEND(user_id,friend_id)
qui cr辿er des relations d'amiti辿 entre les gens.
Ensuite on peut cr辿er une table POST(id_du_post,user_id,text,date,attachement) o湛 attachement vaut soit 0 si c'est un post original soit le post id du post auquel on reply.

#### Exercise 3.2

Write a view to retrieve the posts to display when a user logs in. Consider that some users may have a lot of friends and you need to limit the number of post to display. How would you select relevant posts to display first? What kind of information would you use/add in the database for this purpose? Explain your answer.

__Note:__ Limiting the number of posts just by count is too simplistic, the user could be missing something interesting to him/her.

    Pour mettre en avant des posts plut担t que d'autre je proposerai d'ajouter  la table Friend un attribut jugeant de l'amiti辿 avec une autre user (forte,moyenne ou faible). Pour display les posts imprtant en premier il faudrait afficher ceux dont la relation avec le user est plus forte.